.main-homepage-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  margin-top: 10vh;
  position: relative;
}

.intro-text{
  font-size: 64px;
  width: 40%;
  text-align: center;
}

.input-container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.input-container div:nth-child(1){
  width: 400px;
  background-color: #F3DFCD;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.input-container div:nth-child(1) input{
  margin-left: 16px;
}



